<!-- Header -->
<header class="header-section">
  <div class="header-container container">
    <nav class="nav-menu">
      <a class="header-logo" href="./index.html">
        <img class="header-icon" src="./img/logo.png" alt="logo" />
        yacht Adventures
      </a>
      <ul class="header-list">
        <li class="header-list-item">
          <a class="header-link" href="#description">About</a>
        </li>
        <li class="header-list-item">
          <a class="header-link" href="#directory">Yachts</a>
        </li>
        <li class="header-list-item">
          <a class="header-link" href="#overview">Reviews</a>
        </li>
      </ul>

      <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="menu-toggle-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>

<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mobile-header">
    <a class="header-logo" href="./index.html">
      <img class="header-icon" src="./img/logo.png" alt="logo" />
      yacht Adventures
    </a>
    <button class="menu-toggle js-close-menu">
      <svg class="mobile-close-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-x_menu"></use>
      </svg>
    </button>
  </div>

  <ul class="mobile-menu">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link js-close-menu-1" href="#description">About</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link js-close-menu-2" href="#directory">Yachts</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link js-close-menu-3" href="#overview">Reviews</a>
    </li>
  </ul>
  <!-- decorative light -->
  <div class="light-first"></div>
  <div class="light-second"></div>
</div>